<div id="survey-tabs">
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="flex -mb-px space-x-8 lg:px-6" aria-label="Tabs">
        <a href="<%= survey_questions_path %>" class="<%= current_page?(survey_questions_path) ? "selected-tab" : "unselected-tab" %>">
          Questions
        </a>
        <a href="<%= survey_attempts_path %>" class="<%= current_page?(survey_attempts_path) ? "selected-tab" : "unselected-tab" %>">
          Attempts
        </a>
      </nav>
    </div>
  </div>
</div>
