<p>Dear <%= @feedback.critiquable.decorate.display_name %>!</p>
<p> A new feedback has been published for you. Please click link below to see more details:</p>
<p><%= link_to "Show Feedback", employee_feedback_url(@feedback.critiquable, @feedback, script_name: "/#{@feedback.critiquable.account.id}") %></p>
