<main class="relative z-0 flex-1 focus:outline-none">
  <%= render "employee/title", employee: @employee %>
  <main class="pb-8">
    <div class="px-4 sm:px-6  " id="skills">
      <%= render partial: "form", locals: { skills: @skills, employee: @employee, skill: @skill, user: current_user }, cached: true %>
    </div>
  </div>
</main>
</main>
