<% @skills.each do |skill| %>
  <a href=#>
    <li role="option"  id="add" data-reflex="click->EmployeeSkills#add" data-skill-id=<%= skill.id %> data-employee-id=<%= @employee.id %> class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
      <%= skill.name.upcase_first %>
    </li>
  </a>
<% end %>
