<% @surveys.each do |survey| %>
  <a href="<%= survey_path(survey.id) %>">
    <li role="option"  id="add-survey"  class="block px-4 py-2 text-sm text-gray-900 hover:bg-gray-100 hover:text-gray-900 cursor-pointer">
      <p class="line-clamp-2"><%= survey.name %></p>
    </li>
  </a>
<% end %>
