<%= turbo_frame_tag dom_id(discipline) do %>
  <li class="flex py-4 border-b border-gray-200">
    <div class="flex w-full ml-3">
      <p class="w-full text-sm font-medium text-gray-900"><%= discipline.name %></p>
      <div class="flex">
        <%= link_to "Edit", edit_account_discipline_path(discipline), class: "btn-inline-edit" %>
        <%= link_to "Delete", account_discipline_path(discipline), data: {
                                                                     "turbo-method": :delete,
                                                                   }, class: "btn-inline-delete pl-2" %>
      </div>
    </div>
  </li>
<% end %>
