<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-auto h-0 overflow-y-auto">
    <div class="relative px-3 text-left">
      <nav class="px-3">
        <div>
          <div class="inline-block  ">
            <h3 style="text-align:left; float:left;" class="pt-1 text-xs font-semibold tracking-wider text-gray-500 uppercase" id="teams-headline">
              Filter
            </h3>
            <span class="text-sm" style="text-align:right; float:right;" >
              <%= link_to "Clear All", skills_reports_path, class: "  text-blue-600  hover:underline" %>
            </span>
            <div>
              <div class="pt-4">
                <%= form_tag(skills_reports_path, method: "get", :name => "skill_select") do %>
                  <main class="max-w-md mt-6 pb-12 mx-auto space-y-4 lg:pb-16">
                    <div>
                      <% @skills.each do |skill| %>
                        <label class="block text-sm font-medium pb-1 text-gray-700 whitespace-nowrap">
                          <%= check_box_tag "ids[#{skill.id}]", skill.id, params[:ids] && @ids.include?(skill.id), :name => "ids[]", class: "mr-5 w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500 ", :onchange => ("javascript: document.skill_select.submit();") %>
                          <%= skill.name %>
                        </label>
                      <% end %>
                    </div>
                  </main>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
