<p>Dear <%= @employee.decorate.display_name %>!</p>
<p> <%= @actor.decorate.display_name %> added a new comment in your goal. Please click link below to see more details:</p>
<p><%= link_to "Show Goal", employee_goal_url(@employee, @goal, script_name: "/#{@employee.account.id}") %></p>
