<main class="relative z-0 flex-1 focus:outline-none">
  <%= render "survey/title", survey: @survey %>
  <main class="pb-8">
    <div class="" id="assignees">
      <div class="grid items-start grid-cols-1 lg:grid-cols-3 ">
        <!-- Left column -->
        <div class="grid grid-cols-1 lg:col-span-2" >
          <section aria-labelledby="participants_section">
            <div class="overflow-hidden bg-white">
              <div class="overflow-hidden bg-white" data-controller="infinite-scroll">
                <div>
                  <table class="table">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="table-head">
                          Participant
                        </th>
                        <th scope="col" class=" table-head">
                          Taken By
                        </th>
                        <th scope="col" class=" table-head">
                          On Date
                        </th>
                        <th scope="col" class=" table-head">
                          Score
                        </th>
                        <th scope="col" class=" table-head">
                          Status
                        </th>
                        <th scope="col" class=" table-head">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody class="table-body" id="filled_surveys" data-infinite-scroll-target="entries">
                      <%= render partial: "attempt", collection: @attempts, as: :attempt, cached: true %>
                    </tbody>
                  </table>
                  <div class="flex justify-end mt-2 mb-6 mr-2 invisible" data-infinite-scroll-target="pagination">
                    <%== render partial: "shared/paginator", locals: { pagy: @pagy } %>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <div class="bg-white">
                <div class="px-4">
                  <main class="max-w-lg px-4 pt-6 pb-12 mx-auto space-y-6 lg:pb-16 z-10">
                  </main>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </main>
