<div class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <!-- Page title & actions -->
  <div class="px-4 py-4 border-b border-gray-200 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Document Report
      </h1>
    </div>
  </div>
</div>
<div class="flex w-full overflow-hidden bg-white">
  <div class="flex w-full">
    <%= render partial: "form" %>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <% if @kbs.size > 0 %>
      <div class="w-full overflow-hidden" data-controller="infinite-scroll">
        <table class="table">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="w-full table-head">
                Document
              </th>
              <th scope="col" class=" table-head">
                Added by
              </th>
              <th scope="col" class=" table-head">
                Department
              </th>
              <th scope="col" class=" table-head">
                Job
              </th>
            </tr>
          </thead>
          <tbody class="table-body" data-infinite-scroll-target="entries">
            <%= render partial: "kb", collection: @kbs, as: :kb %>
          </tbody>
        </table>
        <div class="flex justify-end invisible mt-2 mb-6 mr-2" data-infinite-scroll-target="pagination">
          <%= render partial: "shared/paginator", locals: { pagy: @pagy } %>
        </div>
      </div>
    <% else %>
      <%== render partial: "shared/no_result_found", cached: true %>
    <% end %>
  </div>
</div>
