<div class="w-full text-center sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-medium leading-6 text-center text-gray-900">
      No result found
    </h3>
    <div class="mt-2 text-sm text-center text-gray-500">
      <p>We have not found any result for current search query. Please modify filter criteria and search again.</p>
    </div>
  </div>
</div>
