<main class="relative z-0 flex-1 focus:outline-none">
  <%= render partial: "title" , locals: { user: @user }%>
  <main class="pb-8">
    <div class="">
      <h1 class="sr-only">Page title</h1>
    </div>
  </main>
</main>
