<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
  <%= render partial: "project/title", locals: { project: @project } %>
  <main class="pb-8">
    <div class="px-4 sm:px-6">
      <!-- Main 3 column grid -->
      <div class="grid items-start grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-2">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="participants_section">
            <h2 class="sr-only" id="section-1-title">Project Participants</h2>
            <div class="overflow-hidden bg-white">
              <div class="p-4", id="project-participants">
                <div class="flex flex-wrap">
                  <p class="pb-2 mt-1 text-sm font-medium text-gray-900 truncate"><%= "Project Participants" %></p>
                </div>
                <ul class="divide-y divide-gray-200" id="schedules">
                  <%= render partial: "project/schedules/schedule", collection: @schedules, cached: true %>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <% if policy([@project, Schedule]).create? %>
          <!-- Right column -->
          <div class="grid grid-cols-1 gap-4 xl:border-l xl:border-gray-200">
            <section aria-labelledby="add-participant-section">
              <div class="overflow-hidden bg-white">
                <div class="px-4">
                  <%= render partial: "project/schedules/form", locals: { schedule: @schedule, errors: nil } %>
                </div>
              </div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <div class="pt-4 pl-16 pr-16">
  </div>
</main>
