  <main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/settings_menu" %>
    <main class="max-w-xl pb-12 px-4 lg:col-span-6">
      <%= turbo_frame_tag "profile_form" do %>
        <%= render "user/forms/profile", user: @user %>
      <% end %>
    </main>
  </div>
</main>
