<main class="pb-10 mx-auto max-w-7xl lg:py-12 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/account_menu" %>
    <main class="max-w-xl px-4 pb-12 lg:col-span-6">
      <div id="people_tags_form">
        <%= render "form", people_tag: @people_tag %>
      </div>
      <div id="people_tags">
        <%= render @people_tags %>
      </div>
    </main>
  </div>
</main>
