<% @skills.each do |skill| %>
  <li role="option"  id="add-skill" data-reflex="click->ProjectSkills#add" data-skill-id=<%= skill.id %> data-project-id=<%= @project.id %> class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 cursor-pointer">
    <%= skill.name.upcase_first %>
  </li>
<% end %>
