<turbo-frame id="events">
  <ul>
    <% @events.each do |event| %>
      <% if lookup_context.template_exists?(event.action, "home", true) %>
        <% cache event do %>
          <%= render partial: event.action, locals: { event: event } %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% if @events.size > 0 %>
    <p class="pr-4 mt-2 text-sm text-right text-gray-500">Showing <%= 50.to_s %> recently created events only.</p>
  <% else %>
    <p class="pr-4 mt-2 text-sm text-right text-gray-500">No record found.</p>
  <% end %>
</turbo-frame>
