<main class="pb-10 mx-auto max-w-7xl lg:py-12 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render "shared/account_menu" %>
    <main class="max-w-xl px-4 pb-12 lg:col-span-6">
      <div id="project_statuses_form">
        <%= render "form", project_status: @project_status %>
      </div>
      <div id="project_statuses">
        <%= render @project_statuses %>
      </div>
    </main>
  </div>
</main>
