<p>Dear <%= @employee.decorate.display_name %>!</p>
<p> Micro learning lesson(nugget) for the day:</p>
<p><%= link_to @nugget.title, employee_nugget_url(@employee, @nugget, script_name: "/#{@employee.account.id}") %></p>
