<p>Dear <%= @employee.decorate.display_name %>!</p>
<p> We found few nuggets were in unread state from last few days. We have reset them for you and you will receive them again. If you do not wish this to happen, please mark them as read.</p>
